@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700|Oxygen);

$headlines: 'Noto Sans', sans-serif;
$text: 'Oxygen', sans-serif;
$spotcolor: #ff3f3f;
$textcolor: #5f5f5f;

body {
  background-image: url(../images/bg3.png);
  font-size: 87.5%;
  font-family: $text;
  color: $textcolor;
  line-height: 1.5em;
}

h1 {
  font-size: 4em;
  color: $spotcolor;
  font-family: $headlines;
  line-height: 1em;

  span {
    color: $textcolor;
    display: block;
    font-size: 0.5em;
    font-family: $text;
    line-height: 1em;
  }
}

h2 {
  display: block;
  clear: both;
  font-family: $headlines;
  font-size: 2em;
  color: $spotcolor;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

a {
  color: darken($textcolor, 30%);
  text-decoration: none;
  border-bottom: 1px dotted $spotcolor;
  &:hover {
    color: $spotcolor;
  }
}

p {
  margin: 20px 0
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  padding: 50px 50px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);

  img {
    float: left;
    @include border-radius(3px, 3px);
    margin: 0 5px; /* @include simple-transform(false, -0deg); @include transition-duration(2s); */
    //&:hover{ @include simple-transform(false, -5deg); @include transition-duration(2s); }
  }
  .profile-image {
    margin-right: 15px;
    margin-top: -32px;
  }

  .contact-details {
    float: right;
    position: relative;
    top: -63px;
    span {
      width: 100px;
      float: left;
      text-align: right;
      padding-right: 10px;
      font-weight: bold
    }
  }

  section {
    margin-top: 70px;
    //width: 700px;

    header {
      margin-bottom: 20px;
    }

    p span, li span {
      @include border-radius(3px, 3px);
      white-space: nowrap;
      color: $spotcolor;
    }

  }
}

.job-container {
  width: 100%;
  overflow: hidden;
}

.job-floated {
  float: left;
  width: 47.5%;
  margin-right: 2.5%;
}

.job-floated-right {
  margin-left: 2.5%;
  margin-right: 0;
}